body {
  background-color: white;
  font-family: serif;
  color: black;
  width: 75%;
  max-width: 1090px;
  min-width: 400px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: serif;
}

header {
  margin-bottom: 20px;
}

.img-right-justified {
  float: right;
}

figure {
  padding: 10px;
  border: 3px double;
}

figure h4 {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

figure img {
  border: 1px solid lightgrey;
}

hr {
  border: 1px solid;
}

li {
  margin-bottom: 10px;
}

h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: capitalize;
}

h1 {
  font-size: 28pt;
  font-style: italic;
  font-weight: normal;
  /* text-align: center; */
}

h2 {  
  font-size: 20pt;
  font-weight: normal;
}

p {
  margin-top: 0px;
}

.bar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

.bar-li {
  margin-bottom: 0px;
}

/* add vertical separator lines between items */
.bar-li:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid;
}
div.detailed-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
div.detailed-gallery-item {
  border: 3px double black;
  padding: 5px;
  margin: 3px;
  width: 160px;
}
div.detailed-gallery-item img {
  border: 1px solid black;
  width: 160px;
  height: 160px;
}
div.detailed-gallery-item div.label {
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
}
