p, h1, h2, h3, h4, h5, span, div, li, figcaption, summary, th, tr, a, blockquote {
  font-family: "EB Garamond", "Garamond", "Gelasio", "Georgia", serif;
  font-size: 1.5rem;
}

figcaption {
  font-style: italic;
}

h1, h2, h3, h4, h5 {
  text-transform: capitalize;
}

h1 {
  font-size: 2.3rem;
  /* font-style: italic; */
  font-weight: bold;
  /* text-align: center; */
}

h2, h2 a {
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3, h3 a {
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

body {
  background-color: white;
  color: black;
  width: 40rem;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#TableOfContents {
}

code {
  border: 1px solid;
  padding: 0 0.2rem;
  font-family: "Iosevka Nerd Font", "Iosevka", monospace; 
  font-size: 1.2rem;
}

pre code {
  padding: 5px;
  display: block;
  width: 100%;
  overflow: auto;
}

table, th, td {
  border: 1px solid;
}
table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
td, th {
  padding-right: 10px;
  padding-left: 10px;
}

header {
  margin-bottom: 20px;
}

.img-right {
  float: right;
}

.img-centered {
  display: block;
  margin: auto;
}

figure {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 10px;
  border: 3px double;
}

figure h4 {
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

figure img {
  border: 1px solid lightgrey;
}

hr {
  border: 1px solid;
}

li {
  margin-bottom: 10px;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
}

.bar-li {
  margin-bottom: 0px;
}

/* add vertical separator lines between items */
.bar-li:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid;
}

div.detailed-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
div.detailed-gallery-item {
  border: 3px double black;
  padding: 5px;
  margin: 0.4%;
  width: 30%;
}
div.detailed-gallery-item img {
  border: 1px solid black;
  width: 160px;
  height: 160px;
}
div.detailed-gallery-item div.label {
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
}

.misc-post-thumb {
  width: 50%;
}

.misc-date {
  margin-bottom: 1rem;
}

.header-anchor {
  text-decoration: none;
}

/* header numbers */ 
/* body { counter-reset: h2 h3 h4 h5 h6; } */

/* h2:before { */
  /* counter-reset: h3 h4 h5 h6; */
  /* counter-increment: h2; */
  /* content: counter(h2) ". "; */
/* } */
/* h3:before { */
  /* counter-reset: h4 h5 h6; */
  /* counter-increment: h3; */
  /* content: counter(h2) ". " counter(h3) ". "; */
/* } */
/* h4:before { */
  /* counter-reset: h5 h6; */
  /* counter-increment: h4; */
  /* content: counter(h2) ". " counter(h3) ". " counter(h4) ". "; */
/* } */


.blockquote-centered {
  width: 20rem;
  margin: 1rem auto;
  text-align: center;
}
